<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

<body>
    <%-include("./partials/header")%>

    <main>
        <section class="center main-content">
        <h1>Editar perfil</h1>
        <form class="formMiPerfil" action="/miPerfil" method="get">
            <input type="email" name="email" placeholder="Cambiar email">
            <input type="text" name="password" placeholder="Cambiar contraseña">
            <input type="text" name="usuario" placeholder="Cambiar nombre de usuario">
            <input type="date" name="date" placeholder="Cambiar fecha de nacimiento">
            <input type="number" name="dni" placeholder="Cambiar numero de dni">
            <input type="text" name="fotoPerfil" placeholder="Cambiar foto de perfil">
            <button type="submit">Modificar</button>
        </form>
        </section>
    </main>

    <%-include("./partials/footer")%>

</body>

</html>