<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

<body>
    <%-include("./partials/header")%>

    <main>
        <section class="center main-content">
        <h1 class="tituloFormulario">Registrate</h1>
        <form class= "form" action="/registro" method="POST">
            <input class="inputFormulario" type="email" name="email" placeholder="Direccion de email">
            <input class="inputFormulario" type="name" name="nombreUsuario" placeholder="Nombre de usuario">
            <input class="inputFormulario" type="date" name="date" placeholder="Fecha de nacimiento">
            <input class="inputFormulario" type="number" name="dni" placeholder="Numero de dni">
            <input class="inputFormulario" type="password" name="password" placeholder="Ingresa la contraseña deseada">
            <input class="inputFormulario" type="text" name="fotoPerfil" placeholder="Inserta tu foto de perfil">
            <button class="inputFormulario" type="submit">Crear usuario</button>
        </form>
        </section>
    </main>

    <%-include("./partials/footer")%>

</body>

</html>