<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>

<body>
    <%-include("./partials/header")%>

    <main>
        <section class="center main-content">
        <h1 id="Registrate">Registrate</h1>
        <form class= "form" action="/login" method="get">
            <input class="inputRegistro" type="email" name="email" placeholder="Direccion de email">
            <input class="inputRegistro" type="date" name="date" placeholder="Fecha de nacimiento">
            <input class="inputRegistro" type="number" name="dni" placeholder="Numero de dni">
            <input class="inputRegistro" type="password" name="password" placeholder="Ingresa la contraseña deseada">
            <input class="inputRegistro" type="text" name="fotoPerfil" placeholder="inserta tu foto de perfil">
            <button class="inputRegistro" type="submit">Crear usuario</button>
        </form>
        </section>
    </main>

    <%-include("./partials/footer")%>

</body>

</html>