<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="http://localhost:3000/"><img class="imagenLogo" src="../../../img/logo.png" alt="ShareIt"></a>
        </div>
        <div class="navbar-center">
            <form action="/users/resultadoBusqueda" class="search" method="get">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="search-input" name="busqueda" placeholder="Buscar...">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/registro">Registro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="http://localhost:3000/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/agregarPost"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="/miPerfil"><i class="fa-regular fa-user"></i></a></li>
                <li><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
            </ul>
        </div>
    </nav>
</header>