<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <a href="http://localhost:3000/"><img src="../../public/img/logo.png" alt="ShareIt"></a>
        </div>
        <div class="navbar-center">
            <form action="" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" placeholder="Buscar...">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="http://localhost:3000/registro">Registro</a></li>
                <li><a href="http://localhost:3000/login">Login</a></li>
                <li><a href="http://localhost:3000/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="http://localhost:3000/agregarPost"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="http://localhost:3000/perfil"><i class="fa-regular fa-user"></i></a></li>
                <li><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
            </ul>
        </div>
    </nav>
</header>